:root {
    --md-primary-fg-color: #F5DEB3;
    --md-primary-fg-color--light: #000000;
    --md-primary-fg-color--dark: #ff7948;
    --md-accent-fg-color: #607D8B;
}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
}

.md-typeset .tabbed-set > label {
    border-bottom: 0.2rem solid var(--md-primary-fg-color--light);
}

.admonition.mindustry {
    border-left: 0.4rem solid #000000;
}